.environment-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
	width: 95%;
	margin: 15px auto 0 auto;
}
.tool-bar {
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}
.tool-item {
	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: var(--regular-color);
	color: var(--secondary-text-color);
	border: none;
	outline: none;
	transition: 0.1s;
	cursor: pointer;
}
.tool-item:hover {
	background-color: var(--selected-color);
}
#grid-toggle {
	margin-top: 30px;
	font-size: 14px;
}
.active {
	background-color: var(--selected-color);
	color: var(--accent-color);
}
.editor {
	min-height: 200px;
	min-width: 200px;
	height: calc(100vh - 168px);
	max-height: calc(100vh - 168px);
	flex-grow: 1;
	background-color: var(--text-color);
	overflow: hidden;
	position: relative;
	outline: none;
}
.editor-canvas {
	width: 100%;
	height: 100%;
	z-index: 1;
}
.editor-state-container {
	width: 100%;
	height: 100%;
	overflow: visible;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.editor-label-container {
	width: 100%;
	height: 100%;
	overflow: visible;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 3;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.environment-sidebar {
	width: 250px;
	flex-grow: 0;
	flex-shrink: 0;
	height: fit-content;
	max-height: calc(100vh - 150px);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 25px;
	overflow-y: auto;
}
.sidebar-item {
	min-height: 150px;
	width: 100%;
	background-color: var(--regular-color);
	flex-grow: 0;
	flex-shrink: 0;
}
.state {
	position: absolute;
	background-color: var(--state-color);
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 50%;
	outline: none;
	border: 1px solid var(--dark-text-color);
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: box-shadow 0.1s, background-color 0.2s;
}
.selected {
	z-index: 3;
	-webkit-box-shadow: 0px 0px 8px 4px var(--glow-color);
	-moz-box-shadow: 0px 0px 8px 4px var(--glow-color);
	box-shadow: 0px 0px 8px 4px var(--glow-color);
	background-color: var(--selected-state-color);
}
.state-name {
	position: relative;
	text-align: center;
	width: 90%;
	margin: calc(50% - 1rem) auto;
	height: 2rem;
	line-height: 2rem;
	color: var(--dark-text-color);
	font-size: 1rem;
	font-weight: bold;
	text-overflow: clip;
	white-space: nowrap;
	overflow: hidden;
	transition: font-size 0.3s;
}
.state-name:focus {
	outline: 1px solid var(--dark-text-color);
}
.state-name-small {
	font-size: 0.8rem;
}
.preview-state {
	display: none;
	z-index: 5;
	background-color: rgba(139, 138, 150, 0.5);
	border: none;
	pointer-events: none;
}
.editor:hover .preview-state {
	display: block;
}
.final-state {
	outline: 1px solid var(--dark-text-color);
	outline-offset: -5px;
}
.initial-state {
	position: absolute;
	right: calc(100% + 1px);
	top: 0;
	fill: var(--secondary-text-color);
	stroke: var(--dark-text-color);
	stroke-width: 1px;
	z-index: 3;
}
.label-form {
	cursor: text;
	pointer-events: all;
	position: absolute;
	transform-origin: top left;
}
.label-input {
	padding: 0;
	margin: 0;
	width: 1rem;
	height: 1.1rem;
	font-family: "Rubik", sans-serif;
	font-size: 1rem;
	text-align: center;
	color: var(--dark-text-color);
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0;
	outline: none;
	transition: background-color 0.1s;
}
.label-input:focus {
	background-color: rgba(150, 150, 150, 0.5);
	border: 1px solid var(--dark-text-color);
	-webkit-box-shadow: 0px 0px 6px 2px var(--glow-color);
	-moz-box-shadow: 0px 0px 6px 2px var(--glow-color);
	box-shadow: 0px 0px 6px 2px var(--glow-color);
	z-index: 10;
}
.label-input:hover {
	background-color: rgba(150, 150, 150, 0.5);
	border: 1px solid var(--dark-text-color);
}
.small-text-label {
	font-size: 0.75rem;
	height: 0.9rem;
}
.width-sensor {
	font-family: "Rubik", sans-serif;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	width: fit-content;
	pointer-events: none;
	z-index: -10;
}
.small-width-sensor {
	font-family: "Rubik", sans-serif;
	font-size: 0.75rem;
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	width: fit-content;
	pointer-events: none;
}
.right-click-menu {
	position: absolute;
	z-index: 20;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	pointer-events: all;
}
.inputs-wrap {
	height: 100%;
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	gap: 5px;
}
.environment-sidebar-title {
	text-align: left;
	font-family: "Fredoka One", cursive;
	margin: 0;
	padding: 0 0 0 10px;
	font-size: 1.3rem;
	font-weight: 100;
	height: 1.8rem;
	line-height: 1.8rem;
	width: calc(100% - 10px);
	background-color: var(--selected-color);
}
.inputs-content {
	width: calc(100% - 20px);
	margin: 5px auto 10px auto;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
.inputs-form {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	max-height: 230px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
}
.inputs-form-item {
	width: 100%;
	height: 25px;
	min-height: 25px;
	border: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
}
.inputs-form-item-output {
	width: 18px;
	height: 18px;
	margin: 0 5px 0 0;
}
.inputs-form-item-input {
	flex-grow: 1;
	flex-basis: 80px;
	min-width: 50px;
	padding: 0 2px 0 5px;
	height: 100%;
	border: none;
	font-family: "Rubik", sans-serif;
	color: var(--dark-text-color);
	background-color: var(--text-color);
	text-align: left;
	font-size: 1rem;
	outline: none;
}
.inputs-form-item:nth-child(2n) .inputs-form-item-input {
	background-color: #d4d4d4;
}
.inputs-form-item-output-tape {
	flex-grow: 1;
	flex-basis: 90px;
	min-width: 50px;
	padding: 0 2px 0 5px;
	height: 100%;
	line-height: 25px;
	border: none;
	font-family: "Rubik", sans-serif;
	color: var(--dark-text-color);
	background-color: var(--text-color);
	text-align: left;
	font-size: 1rem;
	outline: none;
	overflow-x: auto;
	overflow-y: hidden;
	text-overflow: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.inputs-form-item-output-tape::-webkit-scrollbar {
	display: none;
}
.inputs-form-item:nth-child(2n) .inputs-form-item-output-tape {
	background-color: #d4d4d4;
}
.inputs-buttons-wrap {
	width: 100%;
	height: 25px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
}
.inputs-button {
	height: 100%;
	width: 35%;
	padding: 0;
	font-family: "Rubik", sans-serif;
	color: var(--dark-text-color);
	background-color: var(--text-color);
	border: none;
	outline: none;
	text-align: center;
	font-size: 1rem;
	cursor: pointer;
	transition: 0.2s;
}
.inputs-button:hover {
	background-color: var(--accent-color);
	transform: scale(1.05);
}
.inputs-button:active {
	transform: scale(0.98);
}
.accepted {
	color: #5fd14b;
	font-size: 18px;
}
.rejected {
	color: #f04d41;
	font-size: 18px;
}
.unknown {
	color: #faf037;
	font-size: 18px;
}
.selection-box {
	position: absolute;
	z-index: 20;
	background-color: rgba(80, 125, 199, 0.4);
	outline: 2px solid rgba(80, 125, 199, 0.8);
}
.selected-label {
	background-color: rgba(150, 150, 150, 0.5);
	border: 1px solid var(--dark-text-color);
	-webkit-box-shadow: 0px 0px 6px 2px var(--glow-color);
	-moz-box-shadow: 0px 0px 6px 2px var(--glow-color);
	box-shadow: 0px 0px 6px 2px var(--glow-color);
}
.selected-tuple {
	background-color: rgba(150, 150, 150, 0.5);
	-webkit-box-shadow: 0px 0px 6px 2px var(--glow-color);
	-moz-box-shadow: 0px 0px 6px 2px var(--glow-color);
	box-shadow: 0px 0px 6px 2px var(--glow-color);
}
.editor-zoom-container {
	position: absolute;
	right: 10px;
	top: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	gap: 5px;
	z-index: 100;
	width: 1.5rem;
}
.zoom-button {
	width: 100%;
	height: 1.5rem;
	padding: 1px 0 0 0;
	margin: 0;
	outline: none;
	border: 1px solid #9c9ca1;
	background-color: #cdced4;
	color: #515357;
	cursor: pointer;
	box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 0.35);
	transition: 0.2s;
}
.zoom-button:hover {
	background-color: var(--accent-color);
	color: var(--dark-text-color);
}
.zoom-in-out-wrap {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 0.35);
}
.zoom-in-out-wrap .zoom-button {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#zoom-in-button {
	border-bottom: none;
}
.messages-content {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	width: calc(100% - 20px);
	margin: 10px auto;
}
.message:nth-child(2n) {
	background-color: #d4d4d4;
}
.message {
	margin: 0;
	background-color: var(--text-color);
	color: #48494d;
	font-size: 0.85rem;
	width: calc(100% - 10px);
	text-align: left;
	padding: 2px 5px 2px 5px;
}
.warning-message {
	background-color: #de8383;
	color: #592323;
}
.warning-message:nth-child(2n) {
	background-color: #c96b6b;
}
.editor-popup-container {
	z-index: 400;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	overflow: hidden;
}
.popup-message {
	width: 300px;
	max-width: 60%;
	min-width: 20%;
	margin: 120px auto;
	background-color: var(--regular-color);
}
.popup-message-title {
	text-align: left;
	font-family: "Fredoka One", cursive;
	margin: 0;
	padding: 0 0 0 10px;
	font-size: 1.3rem;
	font-weight: 100;
	height: 1.8rem;
	line-height: 1.8rem;
	width: calc(100% - 10px);
	background-color: var(--selected-color);
	color: var(--text-color);
}
.popup-message-content {
	margin: 10px 15px;
	padding-bottom: 10px;
	min-height: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 10px;
	position: relative;
}
.popup-message-text {
	text-align: left;
	margin: 0;
	width: 100%;
}
.popup-message-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: flex-end;
	width: 100%;
	gap: 15px;
}
.popup-message-buttons-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	gap: 5px;
}
.popup-message-vertical-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;
	width: 90%;
	gap: 12px;
	margin-top: 5px;
}
.popup-message-button {
	height: 100%;
	min-width: 70px;
	padding: 2px 5px;
	font-family: "Rubik", sans-serif;
	color: var(--dark-text-color);
	background-color: var(--text-color);
	border: none;
	outline: none;
	text-align: center;
	font-size: 1rem;
	cursor: pointer;
	transition: 0.2s;
}
.popup-message-button:hover {
	background-color: var(--accent-color);
	transform: scale(1.05);
}
.popup-message-button:active {
	transform: scale(0.98);
}
.vertical-button {
	width: 100%;
}
.popup-message-characters {
	width: fit-content;
	gap: 15px;
}
.character-button {
	font-weight: bold;
	font-size: 1.2rem;
	background-color: var(--secondary-text-color);
	min-width: 40px;
	height: 1.6rem;
}
.character-button-box {
	line-height: 0.5rem;
}
.character-button:hover {
	background-color: var(--text-color);
}
.chosen-character {
	background-color: var(--accent-color);
}
.chosen-character:hover {
	background-color: var(--accent-color);
}
.state-color-buttons {
	flex-wrap: wrap;
	margin-bottom: 15px;
}
.state-color-button {
	min-width: 0;
	width: 32px;
	height: 31px;
	padding: 0;
	font-size: 16px;
	background-color: var(--secondary-text-color);
}
.state-color-button:hover {
	background-color: var(--text-color);
}
.state-color-button i {
	padding-top: 2px;
	margin: 0 auto;
}
.popup-color-text {
	text-align: center;
}
.theme-color-button {
	background-color: var(--secondary-text-color);
}
.theme-color-button:hover {
	background-color: var(--text-color);
}
.chosen-color {
	background-color: var(--accent-color);
}
.chosen-color:hover {
	background-color: var(--accent-color);
}
.green-color {
	color: #72c961;
}
.chosen-state-color.green-color {
	background-color: #72c961;
}
.blue-color {
	color: #55a1ed;
}
.chosen-state-color.blue-color {
	background-color: #55a1ed;
}
.red-color {
	color: #e65c5a;
}
.chosen-state-color.red-color {
	background-color: #e65c5a;
}
.purple-color {
	color: #bc71de;
}
.chosen-state-color.purple-color {
	background-color: #bc71de;
}
.yellow-color {
	color: #ffbe39;
}
.chosen-state-color.yellow-color {
	background-color: #ffbe39;
}
.environment-dropdown-container {
	position: relative;
	height: 1rem;
	width: 65%;
	margin: 3px auto 0 auto;
}
.environment-dropdown {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	z-index: 1;
	width: 100%;
	left: 0;
	top: 0;
}
.environment-dropdown:focus-within {
	box-shadow: -2px 5px 7px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: -2px 5px 7px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: -2px 5px 7px 1px rgba(0, 0, 0, 0.5);
}
.environment-dropdown:focus-within .dropdown-item {
	display: block;
}
.dropdown-item {
	font-family: "Rubik", sans-serif;
	font-size: 1rem;
	text-align: left;
	width: 100%;
	padding: 3px 10px;
	background-color: var(--text-color);
	color: var(--dark-text-color);
	text-overflow: clip;
	display: none;
	cursor: pointer;
	border: none;
	outline: none;
	transition: background-color 0.2s;
}
.dropdown-item:hover {
	background-color: #f2f2f2;
}
.dropdown-item:nth-child(2n) {
	background-color: #d4d4d4;
}
.dropdown-item:nth-child(2n):hover {
	background-color: #e0e0e0;
}
.dropdown-selected {
	background-color: var(--accent-color) !important;
	display: block;
}
.dropdown-down-arrow {
	position: absolute;
	right: 6px;
	top: 5px;
	font-size: 0.8rem;
	z-index: 4;
	display: block;
	color: var(--dark-text-color);
	pointer-events: none;
}
.dropdown-up-arrow {
	position: absolute;
	right: 6px;
	top: 5px;
	font-size: 0.8rem;
	z-index: 4;
	display: none;
	color: var(--dark-text-color);
	pointer-events: none;
}
.environment-dropdown-container:focus-within .dropdown-down-arrow {
	display: none;
}
.environment-dropdown-container:focus-within .dropdown-up-arrow {
	display: block;
}
.popup-message-form {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 1.6rem;
}
.popup-message-form-bottom {
	padding-bottom: 30px;
}
.popup-message-form-label {
	margin: 0;
	height: fit-content;
}
.popup-message-form-bottom .popup-message-form-label {
	line-height: 1.3rem;
}
.popup-message-form-input {
	padding: 0;
	margin: 0;
	width: 1.8rem;
	height: 1.6rem;
	font-family: "Rubik", sans-serif;
	font-size: 1.3rem;
	text-align: center;
	color: var(--dark-text-color);
	background-color: var(--text-color);
	border: none;
	border-radius: 0;
	outline: none;
}
.popup-message-form-range-wrap {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 60%;
	gap: 5px;
	margin-top: 16px;
}
.popup-message-form-range {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	height: 7px;
	background: var(--text-color);
	outline: none;
}
.popup-message-form-range::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	appearance: none;
	width: 6px;
	height: 18px;
	background: var(--accent-color);
	cursor: pointer;
}
.popup-message-form-range::-moz-range-thumb {
	width: 6px;
	height: 18px;
	background: var(--accent-color);
	cursor: pointer;
}
.tuple-form {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: flex-end;
	gap: 0;
}
.tuple {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0;
	position: relative;
}
.tuple-delimiter {
	margin: 0;
	padding: 0;
	height: 1.1rem;
	line-height: 1.1rem;
	font-family: "Rubik", sans-serif;
	font-size: 1rem;
	text-align: center;
	color: var(--dark-text-color);
}
.tuple-delimiter-arrow {
	font-size: 0.75rem;
}
.tuple-input {
	background-color: transparent;
	border: 1px solid transparent;
}
.tuple-input:focus {
	border: 1px solid var(--dark-text-color);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.tuple-input:hover {
	background-color: transparent;
}
.tuple:focus-within {
	background-color: rgba(150, 150, 150, 0.5);
	-webkit-box-shadow: 0px 0px 6px 2px var(--glow-color);
	-moz-box-shadow: 0px 0px 6px 2px var(--glow-color);
	box-shadow: 0px 0px 6px 2px var(--glow-color);
	z-index: 10;
}
.tuple:hover {
	background-color: rgba(150, 150, 150, 0.5);
}
.small-text-label.char-input {
	width: 0.7rem;
}
.small-text-label.pop-input {
	width: 0.7rem;
}
.small-text-label.read-input {
	width: 0.7rem;
}
.small-text-label.write-input {
	width: 0.7rem;
}
.small-text-label.move-input {
	width: 0.7rem;
}
.small-text-label.tuple-delimiter-arrow {
	font-size: 0.6rem;
	height: 0.9rem;
}
.single-line-input {
	width: calc(100% - 55px);
	height: 25px;
	max-height: 25px;
	margin: 10px auto;
}
.step-wrap {
	padding-bottom: 5px;
}
.step-input input {
	margin: 8px auto;
}
.step-tree-wrap {
	width: 90%;
	min-height: 100px;
	max-height: 200px;
	overflow: auto;
	margin: 8px auto 5px auto;
	position: relative;
	background-color: var(--text-color);
}
.step-tree-canvas {
	background-color: var(--text-color);
	display: block;
}
.step-tree-nodes-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}
.step-tree-node {
	position: absolute;
	background-color: #ffbe39;
	width: 12px;
	height: 12px;
	cursor: pointer;
	border-radius: 50%;
	outline: none;
	border: 1px solid var(--dark-text-color);
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: box-shadow 0.1s, transform 0.3s;
}
.step-tree-node:after {
	content: "";
	padding: 12px;
	position: absolute;
	left: -6px;
	top: -6px;
}
.step-tree-node-selected {
	-webkit-box-shadow: 0px 0px 4px 2px var(--glow-color);
	-moz-box-shadow: 0px 0px 4px 2px var(--glow-color);
	box-shadow: 0px 0px 4px 2px var(--glow-color);
	transform: scale(1.15);
}
.step-tree-node-accept {
	background-color: #5fd14b;
}
.step-tree-node-reject {
	background-color: #f04d41;
}
.step-table-wrap {
	margin: 5px auto;
	width: 90%;
	max-width: 90%;
	overflow-x: auto;
}
.step-table {
	--border-color: var(--dark-text-color);
	width: 100%;
	text-align: center;
	border-spacing: 0;
}
.step-table tr {
	color: var(--dark-text-color);
	background-color: var(--text-color);
}
.step-table tr:nth-child(2n + 1) {
	background-color: #d4d4d4;
}
.step-table th {
	background-color: var(--selected-color);
	border-left: 2px solid var(--border-color);
	color: var(--text-color);
	font-weight: normal;
	padding: 2px 0;
	position: sticky;
	top: 0;
}
.step-table th:nth-child(1) {
	border: none;
}
.step-table td {
	border-left: 2px solid var(--border-color);
	color: var(--dark-text-color);
}
.step-table td:nth-child(1) {
	border: none;
	padding-bottom: 2px;
}
.step-table td:nth-child(2) {
	text-align: left;
	padding-left: 6px;
}
.step-table td:nth-child(3) {
	text-align: left;
	padding-left: 6px;
}
.step-table td i {
	font-size: 16px;
}
.step-table-accept {
	background-color: #5fd14b;
}
.step-table tr:nth-child(2n) .step-table-accept {
	background-color: #85ed72;
}
.step-table-reject {
	background-color: #f04d41;
}
.step-table tr:nth-child(2n) .step-table-reject {
	background-color: #f36c62;
}
.step-table-highlighted {
	font-weight: bolder;
	outline: 2px solid var(--glow-color);
	outline-offset: -2px;
}
.step-tree-buttons-wrap {
	width: 90%;
	height: 20px;
	margin: 7px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.step-tree-buttons-label {
	text-align: center;
	margin: 0;
}
.switch-button {
	background: none;
	color: var(--text-color);
	cursor: pointer;
	padding: 0;
	float: right;
	border: none;
	outline: none;
	height: 100%;
	font-size: 15px;
	margin-right: 8px;
	margin-top: 1px;
	transition: transform 0.1s, color 0.2s;
}
.switch-button:hover {
	color: var(--accent-color);
	transform: scale(1.1);
}
.switch-button:active {
	transform: scale(0.96);
}
.step-switch-button {
	margin-right: 10px;
	margin-top: 0;
	transform: rotate(90deg);
}
.step-switch-button:hover {
	color: var(--accent-color);
	transform: rotate(90deg) scale(1.1);
}
.step-switch-button:active {
	transform: rotate(90deg) scale(0.96);
}
#regex-input {
	padding: 0 0 0 5px;
	margin: 0 auto;
	height: 25px;
	width: 100%;
	border: none;
	font-family: "Rubik", sans-serif;
	color: var(--dark-text-color);
	background-color: var(--text-color);
	text-align: left;
	font-size: 1rem;
	outline: none;
}
#regex-help-icon {
	color: var(--secondary-text-color);
	position: absolute;
	right: 0;
	top: 11px;
	font-size: 20px;
	cursor: pointer;
	transition: color 0.2s;
}
#regex-help-icon:hover {
	color: var(--accent-color);
}
#regex-help-window {
	position: absolute;
	left: -15px;
	top: calc(100% + 10px);
	background-color: var(--regular-color);
	width: 100%;
	padding: 5px 15px;
	font-size: 14px;
	opacity: 0;
	transition: opacity 0.1s;
}
.regex-help-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
}
.regex-help-line p {
	margin: 0;
}
.regex-help-line span {
	color: var(--accent-color);
}
#regex-help-wrap:hover #regex-help-window {
	opacity: 1;
}
.popup-editor-choice-buttons {
	margin-bottom: 8px;
}
.move-input-dropdown {
	display: none;
	position: absolute;
	right: 0;
	top: calc(1.1rem + 2px);
	background-color: rgba(170, 170, 170, 0.9);
	border: 1px solid var(--dark-text-color);
	-webkit-box-shadow: 0px 0px 6px 2px var(--glow-color);
	-moz-box-shadow: 0px 0px 6px 2px var(--glow-color);
	box-shadow: 0px 0px 6px 2px var(--glow-color);
	z-index: 10;
	border-radius: 0;
}
.move-input:focus + .move-input-dropdown {
	display: block;
}
.move-input-dropdown:active {
	display: block;
}
.move-input-dropdown-item {
	padding: 0;
	margin: 0;
	width: 1rem;
	height: 1.1rem;
	font-family: "Rubik", sans-serif;
	font-size: 1rem;
	text-align: center;
	color: var(--dark-text-color);
	cursor: pointer;
	transition: background-color 0.1s;
}
.move-input-dropdown-item:hover {
	background-color: rgba(210, 210, 210, 0.9);
	outline: 1px solid var(--dark-text-color);
}
.move-input-dropdown-item.small-text-label {
	font-size: 0.75rem;
	height: 0.9rem;
	width: 0.75rem;
}
.small-text-dropdown {
	top: calc(0.9rem + 2px);
}
.tape-highlight {
	background-color: var(--accent-color);
}
.tape-placeholder {
	color: gray;
}
