body {
	--text-color: #ededed;
	--secondary-text-color: #bababa;
	--header-color: #34395b;
	--accent-color: #ffbe39;
	--selected-color: #4a507b;
	--regular-color: #2c304d;
	--state-color: #ffbe39;
	margin: 0;
	padding: 0;
	width: 100%;
	padding-bottom: 30px;
	background-color: #181b2f;
	color: var(--text-color);
	font-family: "Rubik", sans-serif;
	font-size: 1rem;
}
#header-wrap {
	background-color: var(--header-color);
	padding: 5px 0 0 20px;
	margin: 0;
}
#logo {
	font-size: 2.2rem;
	height: 2.2rem;
	margin: 0;
	text-align: left;
	font-family: "Fredoka One", cursive;
}
#sub-logo {
	font-size: 1rem;
	color: var(--text-color);
	text-decoration: none;
}
.yellow-text {
	color: var(--accent-color);
}
#menu-bar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: center;
	height: 1.3rem;
	margin: 12px 0 0 -5px;
}
.menu-item {
	height: 100%;
	cursor: pointer;
	text-align: left;
	width: fit-content;
	padding: 0 10px;
	background-color: var(--header-color);
	color: var(--text-color);
	border: none;
	outline: none;
	transition: background-color 0.1s;
	position: relative;
}
.menu-item:hover {
	background-color: var(--selected-color);
}
.menu-item-title {
	margin: 0;
}
.menu-child-wrap {
	display: none;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 1.3rem;
}
.menu-item:hover .menu-child-wrap {
	display: block;
}
.menu-child-item {
	height: 100%;
	cursor: pointer;
	text-align: left;
	width: 100%;
	min-width: fit-content;
	white-space: nowrap;
	height: 1.3rem;
	background-color: var(--regular-color);
	color: var(--text-color);
	border: none;
	outline: none;
	transition: background-color 0.1s;
	position: relative;
	margin: 0;
	padding: 0 10px;
}
.menu-child-item:hover {
	background-color: var(--selected-color);
}
#content-wrap {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#environment-tab-bar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	align-items: center;
	height: 28px;
	margin: 0;
}
.environment-tab {
	height: 100%;
	line-height: 28px;
	cursor: pointer;
	text-align: center;
	width: 90px;
	padding: 0 10px;
	background-color: var(--regular-color);
	color: var(--secondary-text-color);
	border: none;
	outline: none;
	transition: 0.1s;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.environment-tab:hover {
	background-color: var(--selected-color);
}
#new-environment-button {
	cursor: pointer;
	height: 22px;
	width: 22px;
	padding: 0;
	margin: 4px;
	text-align: center;
	background-color: var(--regular-color);
	color: var(--secondary-text-color);
	border: none;
	outline: none;
	transition: 0.1s;
}
#new-environment-button:hover {
	background-color: var(--selected-color);
}
