#header-wrap {
	height: 3.3rem;
}
#logo-link {
	color: var(--text-color);
	text-decoration: none;
}
#content-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
	align-items: flex-start;
	padding: 25px 20px 5px 20px;
	width: calc(100% - 40px);
	height: calc(100vh - 140px);
}
.grading-item {
	background-color: var(--regular-color);
	height: 100%;
	outline: none;
}
.grading-item-content {
	padding: 15px;
	width: calc(100% - 30px);
	height: calc(100% - 30px - 1.8rem);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	gap: 15px;
}
#automata-panel {
	width: 45%;
	min-width: 320px;
}
#inputs-panel {
	width: 40%;
	min-width: 250px;
}
#automata-table-wrap {
	width: 100%;
	overflow: auto;
}
.grading-table {
	width: 100%;
}
.grading-table-head {
	background-color: var(--selected-color);
}
.grading-table-head th {
	height: 1.6rem;
	padding: 0 4px;
	border-right: 1px solid #979797;
}
.grading-table-head th:last-of-type {
	border-right: none;
}
#load-files-button {
	height: 25px;
}
.automaton-file {
	height: 1.8rem;
	background-color: var(--text-color);
	text-align: left;
	color: var(--dark-text-color);
}
.automaton-file:nth-child(2n) {
	background-color: #d4d4d4;
}
.selected-automaton-file {
	background-color: var(--accent-color);
}
.selected-automaton-file:nth-child(2n) {
	background-color: var(--accent-color);
}
.automaton-file td {
	padding: 0 5px;
	border-right: 1px solid #979797;
}
.automaton-file td:last-of-type {
	border-right: none;
}
.automaton-file-score {
	text-align: center;
}
.automaton-file-actions {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 1.8rem;
}
.automaton-file-button {
	outline: none;
	border: none;
	width: 1.1rem;
	height: 0.95rem;
	padding: 0;
	background-color: transparent;
	color: var(--dark-text-color);
	cursor: pointer;
	font-size: 0.95rem;
	transition: color 0.1s;
}
.automaton-file-button:hover {
	color: var(--glow-color);
}
.delete-button:hover {
	color: #f04d41;
}
#grading-input-options {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 5px;
	align-items: center;
	width: 100%;
}
.environment-dropdown-container {
	margin: 0 5px 0 0;
	width: 120px;
	padding-bottom: 8px;
}
.grading-input-options-label {
	margin: 0;
}
.inputs-button {
	min-width: fit-content;
	padding: 0 5px;
}
.checkbox {
	outline: none;
	border: none;
	width: 18px;
	height: 18px;
	padding: 0;
	background-color: var(--text-color);
	color: var(--dark-text-color);
	cursor: pointer;
	transition: background-color 0.1s;
}
.checkbox:hover {
	background-color: #d4d4d4;
}
.checkbox-checked {
	background-color: var(--accent-color);
}
.checkbox-checked:hover {
	background-color: var(--accent-color);
}
.checkbox i {
	display: none;
}
.checkbox-checked i {
	display: block;
}
#grading-input-form {
	width: 100%;
	flex-grow: 1;
	overflow: auto;
}
.test-case {
	height: 25px;
	background-color: var(--text-color);
	text-align: left;
	color: var(--dark-text-color);
}
.test-case:nth-child(2n) {
	background-color: #d4d4d4;
}
.test-case td {
	padding: 0 5px;
	border-right: 1px solid #979797;
}
.test-case td:last-of-type {
	border-right: none;
}
.inputs-form-item-input {
	height: 25px;
	width: 100%;
	padding: 0;
	background: none;
}
.test-case-output {
	text-align: center;
}
.test-case-output-expected {
	transition: background-color 0.1s;
	cursor: pointer;
}
.test-case-output-expected:hover {
	background-color: var(--accent-color);
}
#grading-input-buttons-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
	width: 100%;
}
.inputs-button {
	height: 25px;
}
#save-input-file-button {
	text-decoration: none;
	line-height: 26px;
}
.unknown {
	color: #f1b433;
}
.test-case-failure {
	height: 25px;
	text-align: center;
}
